<h1>続きから出題</h1>

<div class="container">
  <div class="row">
    <div class="col-md-4"><strong>開始日時</strong></div>
  </div>

  <% @sessions.each do |session| %>
    <% if session.in_progress? %>
      <div class="row mb-4">
      <div class="col-md-4"><%= session.started_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
        <div class="col-md-2">
          <%= link_to '回答', resume_session_link(session.id), class: 'btn btn-primary' %>
        </div>
        <div class="col-md-2">
          <%= link_to '削除', session, data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>