<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="new-line">お疲れ様でした! 全問題の回答が終了しました！</h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h2>以下、全体の回答結果になります</h2>
    </div>
  </div>
</div>