<div id="answer_frame">
  <p>不正解です</p>
  <p>正解は<%= correct_choice_index %>番の選択肢です。</p>
  <%= button_to "次の問題へ", question_path(next_question_id), method: :get, data: { turbo_frame: "answer_frame" } %>
</div>